.img{
    margin-right: 50px;
}

.item{     
    color:rgb(218, 55, 34);
    font-size: 25px;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
   
    margin-left: 50px;
    margin-right: 50px;   
}
.item:hover{
    background-color: rgb(218, 55, 34);
    color: white;
}
.list{
    margin-top: 30px;
    border-right: 2.5px solid black;
}
#list{
    margin-top: 30px;
}

#input{
    margin-top: 25px;
    margin-left: 50px;
    border-color: rgb(161, 160, 160);
    height: 45px;
    width: 350px;
    text-align: center;
}

#submit{
    margin-top: 25px;
    height: 45px;
    width: 65px;
    border-color: rgb(182, 130, 180);
    background-color: rgb(218, 55, 34);

}
#submit:hover{
    background-color: rgb(182, 180, 180);
}
#icon{
    color: white;
}

