.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  .item{
      
      color:rgb(218, 55, 34);
      font-size: 25px;
      display: block;
      text-align: center;
      padding: 16px;
      text-decoration: none;
     
  }
  .item:hover{
      color:white;
      background-color: rgb(218, 55, 34);
  }